h1 {
	color: black;
}
p {
	color: black;
}
body{
	margin:0;
	background-color: ghostwhite;
	/*font-family: Verdana, Geneva, sans-serif;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #42adff;
    z-index:999;
}
.navlist-item {
float:left;
}
li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index:999;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #30c9db;
}

li.dropdown {
    display: inline-block;
    z-index:999;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3091db;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:999;
}

.dropdown-content a {
    color: BLACK;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index:999;
}

.dropdown-content a:hover {background-color: #30c9db}

.dropdown:hover .dropdown-content {
    display: block;
    z-index:999;
}

#main {
	margin-top:30px;
	padding:20px;
	
}